@using PL.Web
@using Entitiens
@using Newtonsoft.Json
@using Newtonsoft.Json.Converters

@{
    var WebRewardPL = new WebRewardsPL();
    var WebUserPL = new WebUsersPL();
    Users user;
    var ID = Request["ID"];
    int number = 0;

    if (ID != null)
    {
        Guid.TryParse(ID, out Guid idUser);
        user = WebUserPL.GetUserByID(idUser);

        IEnumerable<Rewards> allReward = WebRewardPL.AllRewards();

 <div id="openModal" class="modal-window">
     <div class="modal-item">
         <div class="str infoUser">
             <div class="block_avatar"><img src="~/Content/image/no_avatar.jpg" alt="avatar" /></div>
             <input type="hidden" id="current_id" value="@user.ID">
             <h2>@(user.Name)</h2>
             <p>Дата рождения: @(user.DateOfBirth.Day).@(user.DateOfBirth.Month).@(user.DateOfBirth.Year)</p>
             <p>Возраст: @(user.Age)</p>
         </div>
         <div class="line"></div>
         <div class="str">
             <h3>Награды:</h3>
             <div class="all_userAwards">
                 @foreach (var item in allReward)
                 {
                     if (item.User.ID == idUser)
                     {
                         foreach (var award in item.Award)
                         {
                             ++number;
                         <div class="block_avatar img_award">
                             <input type="hidden" id="current_@user.ID" value="@award.IDAward">
                             <img src="~/Content/image/award.png" alt="avatar" />
                             <p>@award.Title</p>
                             @if (User.IsInRole("Admin"))
                             {
                                 <button class="delForUser" onclick="delReward()" title="Удалить награду у пользователя">-</button>
                             }
                     </div>
                         }
                     }
                 }

                 @if (number == 0)
                 {
                     <p>У данного пользователя нет наград.</p>
                 }
             </div>
         </div>
         <div class="line"></div>
         <div class="str buttonModal">
             @if (User.IsInRole("Admin"))
             {
                 @RenderPage("~/Pages/rewardUser.cshtml")
             }
                 <button id="exit" class="close" onclick="location.href='#close'">Закрыть</button>
             </div>
     </div>
     </div>
    }
}
